.list-item {
  transition: all 0.3s ease-in-out;
}
.red-inset-neumorphism {
  border-radius: 5px;
  background: #dd0031;
  box-shadow: inset 5px 5px 10px #ce002e, inset -5px -5px 10px #ec0034;
  color: white;
}
.yellow-inset-neumorphism {
  border-radius: 5px;
  background: #ffcc32;
  box-shadow: inset 5px 5px 10px #edbe2f, inset -5px -5px 10px #ffda36;
  color: black;
}
.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
